@import '/src/styles/colors'; 

$order__price__block_hgt: 200px;
$def_padding: 5px;
$def__padding__mesage: 13px;
$def_bor_radius: 5px;

.input_container {

    background-color: white;
    padding: $def_padding;
    width: 100%;
    height: 100px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    position: sticky;
    z-index: 30;
    bottom: 0%;
    height: auto;

    .reply_info_wrap {
        font-size: 1.1rem;
        position: relative;
        font-weight: 500;
        color: $second_color;
        z-index: 31;
        display: flex;
        border-left: 2px solid $links_color;
        padding: $def__padding__mesage;
        background-color: rgb(255, 255, 255);



        p {
            cursor: pointer;
        }

        h2 {
            font-weight: 500;
            cursor: pointer;
        }

    }



    .reply_info_wrap>*:last-child {
        position: absolute;
        right: 0px;
        color: $links_color;
    }

    .input_block {

        display: flex;


        input {
            background-color: white;
            border: 2px solid $light_grey;
            margin: 0% auto;
            width: 90%;
            padding-left: $def__padding__mesage;
            height: 50px;

            &::before {
                content: 'you should enter more than 3 symbol ';
                background-color: rgb(255, 255, 255);
                font-size: 1.2rem;
                color: red;
            }

        }

        button {
            width: 10%;
            color: white;
            height: 50px;
            padding: $def__padding__mesage - 10;
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
            background-color: $links_color;
            border: 1px solid $links_color;
            ;

            .spiner {
                animation: rotation 1s infinite linear;
                animation-name: spin;
                animation-duration: 1000ms;
                width: min-content;
                display: flex;
                align-items: center;
                margin: 0% auto;
                justify-content: center;
                height: min-content;
                animation-iteration-count: infinite;
                animation-timing-function: linear;
            }


            @keyframes spin {
                from {
                    transform: rotate(0deg);
                }

                to {
                    transform: rotate(360deg);
                }
            }

        }


    }

    span {
        display: inline;
        text-align: center;
        font-size: 17px;
        background-color: rgba(47, 182, 182, 0);
    }

}




@media (max-width: 800px) {
.input_container {
    bottom: 57px;
}
}