$main_color:rgb(69, 196, 250);
$second_color: rgb(54, 147, 214);
$second_color_light:rgb(41, 165, 241) ;
$main_color_transperent:rgba(51, 182, 84, 0.491); ;

$dark_grey:rgb(28, 28, 28);
$light_grey: rgb(223, 223, 223);


$third_color: rgb(22, 140, 209);
$links_color: rgb(5, 113, 237);

$links_col_2: rgb(255, 13, 0);

$banners_bck_color: rgb(242, 242, 242);

$c: #85bbee;