@import 'colors';

.backet_bloor {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.315);
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: fixed;
    z-index: 120;


    .backet_container {
        display: flex;
        position: relative;
        z-index: 121;
        width: 1000px;
        background-color: rgb(255, 255, 255);
        flex-direction: column;
        height: 90%;
        border-radius: 5px;
        overflow: hidden;


        .manage__block {
            width: 100%;
            height: max-content;
            padding: 15px 15px 15px 15px;
            display: flex;
            align-items: center;
            flex-direction: row;
            justify-content: space-between;

           
                $fz-price: 1.3rem;

                h3 {
                    color: #525252;
                    font-size: $fz-price;
                    font-weight: 550;

                    &::after {
                        content: '₴';
                        font-size: $fz-price - 2;
                        color: #535353;
                    }
                }

                button {
                    height: max-content;
                    border-radius: 5px;
                    padding: 10px;
                    transition: all 0.3s;
                    background-color: $second_color;
                    color: white;
                    &:hover {
                        transition: all 0.3s;
                        background-color: $second_color_light;
                    }

                }

            

        }


        .close__button {
            position: absolute;
            width: 40px;
            height: 40px;
            display: flex;
            align-items: center;
            right: 1%;
            top: 1%;
            justify-content: center;
            background-color: rgb(255, 255, 255);
            color: #7b7b7b;

        }

        .header_conatiner {
            font-size: 1.8rem;
            border-bottom: 1px solid #d8d8d8;
            padding: 15px;

        }

        .backet_list {
            width: 100%;
            height: 80%;
            background-color: rgb(226, 231, 231);
            overflow-y: scroll;
            overflow-x: hidden;
            padding: 0px;

            .device__item__container {
                width: 100%;
                height: 120px;

                background-color: rgb(255, 255, 255);
                flex-direction: row;
                align-items: center;
                border-bottom: 1px solid rgba(157, 157, 157, 0.26);
            }



        }

        .oreder__button {
            position: absolute;
            bottom: 2%;
            right: 4%;
            text-align: center;
            height: auto;
            width: auto;
            padding: 10px;
            font-size: 1.1rem;
            color: white;
            background-color: rgb(0, 123, 255);

        }

        .backet_image_conatiner {
            display: flex;
            align-items: center;
            justify-content: center;

            img {
                max-height: 80%;
                width: auto;
            }
        }
    }
}

.hide {
    display: none;
}

@media (min-width: 320px) and (max-width: 700px) {
    .backet_bloor {
        padding: 0px;

        .backet_container {
            width: 100%;
            height: 100%;
            border-radius: 0px;

            .backet_image_conatiner {
                img {
                    max-height: 100%;
                    width: auto;
                }
            }
        }
    }
}


@media (min-width: 700px) and (max-width: 920px) {
    .backet_bloor {
        .backet_container {
            width: 85%;
            height: 90%;

            .backet_image_conatiner {
                img {
                    max-height: 100%;

                }
            }
        }
    }
}


@media (min-width: 1000px) {
    .backet_bloor {
        .backet_container {

            .backet_image_conatiner {
                img {
                    max-height: 100%;
                    width: auto;
                }
            }
        }
    }
}

@media (min-width: 1620px) {
    .backet_bloor {

        .backet_container {
            background-color: rgb(255, 255, 255);
            height: 70%;
            width: 1000px;
        }

    }
}