@import 'colors';

.banner {
    position: absolute;
    bottom: 0%;
    display: block;
    background-color: aquamarine;

    .application_links {
        width: 100%;
        height: 80px;
        background-color: $links_color;
    }

    .banner_body {
        height: 200px;
        background-color: rgb(190, 190, 190);
        display: block;
    }
}