@import 'colors';

.main_container {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    justify-content: center;
    justify-content: space-around;

    .content {
        width: 63%;
        $border_inpt: $light_grey;

      

            @media (max-width: 600px) {
                .form_data {
                    flex-direction: column;
                    .input_container {
                        width: 100%;
                    }
                }

            }

        }


        .order_list {
            width: 100%;

        }


    }

    .info_panel_container {
        width: 27%;
        height: 550px;
        position: sticky;
        top: 80px;
        margin-top: 230px;

    }



@media (max-width: 1100px) {
    .main_container {
        flex-direction: column;

        .content {
            width: 100%;
        }

        .info_panel_container {
            width: 100%;
        }
    }
}