$device-wdth: 19%;
$device-hght: 450px;

.device_item {
    width: $device-wdth;
    margin: 3px;
    height: $device-hght;
    background-color: white;
    display: block;
    box-shadow: rgba(149, 157, 165, 0.152) 0px 8px 24px;


    .image_container {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        background-color: rgb(255, 255, 255);
        height: 70%;
        cursor: pointer;

        img {
            object-fit: cover;
            max-height: 80%;


        }
    }

    .device_item_info_block {
        width: 100%;
        display: flex;
        flex-direction: column;
        background-color: rgb(223, 223, 223);
        height: 30%;


        .device__text__block {
            width: 100%;
            display: flex;
            overflow-wrap: break-word;
            justify-content: center;
            padding: 0px 5px 0px 5px;
            height: 50%;
            background-color: rgb(255, 255, 255);

            .name_header {
                font-size: 0.9rem;
                color: black;
                overflow-wrap: break-word;
                cursor: pointer;

                &:hover {
                    color: rgb(89, 0, 255);
                }
            }
        }


        p {
            font-size: 0.9rem;
            color: rgb(82, 82, 82);
        }

        .deivce__item__button__block {
            width: 100%;
            display: flex;
            padding: 3px;
            justify-content: center;
            justify-content: space-between;
            align-items: center;
            background-color: rgb(255, 255, 255);
            height: 50%;

            .backet_button {
                background-color: white;
                border: 1px solid rgb(128, 128, 128);
                width: 30%;
                height: auto;
                border-radius: 10px;
            }

            .backet_button_added {
                background-color: rgb(127, 20, 204);
                border: 1px solid rgb(28, 187, 36);
                width: 30%;
                height: auto;
                border-radius: 10px;
            }

            .added_backet_button {
                background-color: rgb(0, 125, 17);
                border: 1px solid rgb(19, 135, 19);
                width: 30%;
                height: auto;
                border-radius: 10px;
            }
        }
    }

}




@media (min-width: 1320px) and (max-width: 1500px) {
  

        .device_item {
            background-color: rgb(255, 255, 255);
            height: $device-hght - 50px;
            ;
        }

    }


@media (min-width: 1250px) and (max-width: 1330px) {
   

        .device_item {
            background-color: rgb(255, 255, 255);
            height: $device-hght - 60px;
            ;
        }

    
}

@media (min-width: 1150px) and (max-width: 1250px) {
 

        .device_item {
            width: $device-wdth + 5%;
            height: $device-hght - 10px;
            ;
        }



   
}


@media (min-width: 950px) and (max-width: 1150px) {
    
        .device_item {
            background-color: rgb(255, 255, 255);
            height: $device-hght - 50px;
            width: $device-wdth  + 5%;

            img {
                object-fit: cover;
                max-width: 80%;

            }

        }
    
}

@media (min-width: 740px) and (max-width: 950px) {
    

        .device_item {
            .device_item_info_block {

                .device__text__block {

                    padding: 5px;

                    .name_header {
                        font-size: 0.9rem;
                        color: rgb(0, 0, 0);
                    }

                    p {
                        font-size: 0.1rem;
                        color: rgb(82, 82, 82);
                    }
                }
            }

            width: $device-wdth +13%;

            height: $device-hght - 50px;

            img {
                object-fit: cover;
                max-width: 80%;

            }
        }
    
}

@media (min-width: 570px) and (max-width: 740px) {
   
        .device_item {
            .image_container {
                img {
                    object-fit: cover;
                     max-width: 70%;
                   

                }
            }

            .device_item_info_block {


                .device__text__block {

                    padding: 5px;

                    .name_header {
                        font-size: 0.9rem;
                        color: rgb(0, 0, 0);
                    }

                    p {
                        font-size: 0.1rem;
                        color: rgb(82, 82, 82);
                    }
                }
            }


            width: $device-wdth +13%;
            height: $device-hght - 110px;


        }
    }


@media (min-width: 390px) and (max-width:570px) {
   

        .device_item {
            width: $device-wdth + 29%;
            margin: 1px;
            height: $device-hght - 110px;
            margin-left: 1px;
            box-shadow: none;


            .image_container {

                img {
                    object-fit: cover;
                    // max-width: 100%;
                    max-height: 70%;


                }
            }

        }
    }


@media (min-width: 320px) and (max-width:390px) {
  
        .device_item {
            width: $device-wdth + 29%;
            margin: 1px;
            height: $device-hght - 130px;



            .device_item_info_block {

                .device__text__block {

                    padding: 5px;

                    .name_header {
                        font-size: 0.8rem;
                        color: rgb(0, 0, 0);
                    }

                    p {
                        font-size: 0.1rem;
                        color: rgb(82, 82, 82);
                    }
                }
            }

            .image_container {

                img {

                    max-height: 60%;


                }
            }

        }
    
}

