.device__slider {
    width: 50%;
    height: 700px;
}

.characteristics__container {
    width: 50%;
    height: 100%;
}

.questions__container {
    width: 50%;
    height: 700px;
    overflow-y: auto;
    
}