.device__slider {
    width: 50%;
    height: 100%;
    padding: 5px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    
    .device__slider__description {
        padding: 5px;
        color: rgb(48, 44, 44);
        font-size: 1rem;
    }
}



.characteristics__container {
    width: 50%;
    height: 100%;
    padding: 10px;
    overflow: hidden;

    .char {

        padding: 30px;
        h2 {
            font-size: 1.6rem;
        }

        p {
            margin-top: 20px;
            font-size: 1.1rem;
            color: gray;
        }
    }

}

.quastions__wrap {
    width: 100%;
    overflow: hidden;

    input {
        background-color: white;
        border: 1px solid black;
        margin: 0% auto;
        width: 80%;
        padding: 5px;
    }

    .questions__container {
        height: 700px;
        width: 100%;
        overflow-y: auto;

        .chat__container {
            width: 100%;
            padding: 5px;
            background-color: rgba(193, 193, 193, 0.374);

            .message {
                width: 100%;
                background-color: white;
                padding: 0px;
                min-height: 50px;
                font-size: 1.2rem;
                margin-top: 5px;
                display: flex;
                flex-direction: column;
                position: relative;
                border-radius: 7px;

                h3 {
                    font-size: 1.3rem;
                    font-weight: 500;
                }

                .body__container {
                    width: 100%;
                    height: 100%;
                    background-color: rgb(255, 255, 255);
                    font-size: 1rem;
                    padding-top: 10px;
                    padding-bottom: 10px;
                }

                .user__container {
                    height: 50px;
                    
                    width: 100%;
                    background-color: rgb(255, 255, 255);
                    border-bottom: 1px solid gray;

                }

                .control_block {
                    width: 100%;
                    display: flex;
                    background-color: rgb(255, 255, 255);

                    button {
                        font-size: 1.1rem;
                        color: blue;

                    }

                    p{
                        margin-left: 20px;
                        color: rgb(106, 106, 242);
                    }
                }

                .message__control__block {
                    width: 5%;
                    height: max-content;
                    position: absolute;
                    top: 0px;
                    right: 0px;
                    background-color: rgb(255, 255, 255);
                    display: flex;
                    align-self: center;
                
                    justify-content: center;

                    .message__controll {
                        position: absolute;
                        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
                        z-index: 20;
                        width: 200px;
                        height: 100px;
                        background-color: rgb(255, 255, 255);
                    }


                }

            }

            .replyes_block {
                height: auto;
                background-color: rgb(186, 186, 186);
                width: 80%;
                padding: 5px;
                min-height: 50px;
                font-size: 1.2rem;
            }

        }

    }
}

@media (max-width: 800px) {
    .device__slider {
        width: 100%;
        height: 700px;
        
    }

    .characteristics__container {
        width: 100%;
        height: 100%;
    }

    .questions__container {
        width: 100%;
        height: 700px;
        overflow-y: auto;

    }
}