.main_wrap {
    height: auto;
    position: relative;
    top: 35px;

    .conatiner {

        background-color: rgb(123, 123, 123);
        width: 100%;
        height: auto;
        position: relative;
    }

    .device_top_conatiner {
        width: 100%;
        height: auto;

        background-color: rgb(255, 255, 255);
        border-bottom: 1px solid #e2e2e268;
        padding: 25px 10px 25px 10px;

        h1 {
            font-family: 'Roboto', sans-serif;
            font-size: 3rem;
            font-weight: 300;
        }

        @media (max-width: 700px) and (min-width: 500px) {
            h1 {
                font-size: 2.2rem;
            }
        }

        @media (max-width: 500px) and (min-width: 320px) {
            h1 {
                font-size: 1.9rem;
            }
        }
    }

    .subpages_list_container {
        width: 100%;
        height: auto;
        background-color: rgba(212, 212, 212, 0.323);

        .subpages_variaty_list {
            display: flex;
            font-size: 1rem;
            color: rgb(106, 136, 255);
            flex-direction: row;
            cursor: pointer;
            height: 100%;
            padding: 5px;
            display: flex;
            flex-wrap: nowrap;
            width: 60%;
            justify-content: space-around;


            li {

                padding: 15px;

            }

            @media (max-width: 800px) and (min-width: 500px) {

                li {
                    padding: 5px;
                }

            }

            @media (max-width: 500px) and (min-width: 320px) {

                li {
                    padding: 3px;

                }

            }

            .li_active {
                border-bottom: 2px solid rgb(57, 97, 255)
            }

        }


        @media (max-width: 800px) and (min-width: 500px) {

            .subpages_variaty_list {
                font-size: 1rem;
                width: 80%;
            }

        }

        @media (max-width: 500px) and (min-width: 320px) {

            .subpages_variaty_list {
                font-size: 1rem;
                width: 100%;
                font-size: 0.8rem;
            }

        }


    }


    .wrap {
        width: 100%;
        display: flex;
        background-color: rgb(255, 255, 255);
        flex-direction: row;
        justify-content: space-between;

        .info__panel {
            width: 50%;
            padding: 10px;
            display: block;
            background-color: white;


            .color__block {
                width: 100%;
                height: 100px;
                background-color: rgb(255, 255, 255);
                padding: 20px;
                font-size: 1.1rem;

                .cloror__container__text {
                    display: flex;
                    font-display: row;
                }

                h3 {
                    color: rgb(147, 147, 147);
                    cursor: pointer;
                }

                .colors__container {
                    display: flex;
                    margin-top: 5px;
                    flex-direction: row;
                    width: 100%;
                    max-height: 100px;
                    flex-wrap: wrap;
                }

            }
         

            .order__price__block {
                width: 100%;
                height: 30%;
                background-color: rgb(255, 255, 255);
                border: 1px solid rgb(200, 200, 200);
                border-radius: 20px;
                padding: 15px;
                display: flex;
                flex-direction: column;


                h2 {
                    font-size: 2rem;
                    color: red;

                    &::after {
                        content: '₴';
                        font-size: 1.1rem;
                    }
                }

                .order__butons {
                    width: min-content;
                    margin-top: 20px;
                    height: max-content;
                    display: flex;
                    flex-direction: row;
                    flex-wrap: nowrap;
                    justify-content: space-between;

                    $btn_wdth: 120px;
                    $btn_borr: 7px;

                    button {
                        width: $btn_wdth;
                        height: auto;
                        color: white;
                        text-align: center;
                        border-radius: $btn_borr;
                        padding: 8px 4px 8px 4px;
                        background-color: rgb(64, 64, 255);

                    }

                    .credit__buton {
                        width: $btn_wdth + 30px;
                        height: auto;
                        color: white;
                        text-align: center;
                        border-radius: $btn_borr;
                        padding: 8px 4px 8px 4px;
                        background-color: rgb(115, 115, 255);
                        margin-left: 10px;
                    }

                }


            }

            @media (max-width: 800px) {
                .order__price__block {
                    width: 100%;
                    height: 60px;
                    background-color: rgba(255, 255, 255, 0.996);
                    border: none;
                    padding: 5px; 
                    font-size: 0.9rem;
                    box-shadow: rgba(0, 0, 0, 0.547) 0px 2px 7px;
                    align-items: center;
                    z-index: 20;
                    display: flex;
                    border-radius: 0px;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-between;  
                    position: fixed;
                    bottom: 0px;

                    h2 {
                        font-size: 1.5rem;
                        color: red;
    
                        &::after {
                            content: '₴';
                            font-size: 1.1rem;
                        }
                    }

                    .order__butons {
                        margin: 0px;
                        align-items: center;
                        background-color: rgb(255, 255, 255);
                        display: flex;

                        button {
                            border-radius: 3px;
                        }

                        .credit__buton {
                            display: none;
                    
                        }

                    }

                }
            }


        }

    }
}
















$blue: rgb(0, 30, 255);
$green: rgb(0, 136, 30);
$silver: rgb(151, 151, 151);
$purple: rgb(140, 0, 255);
$pink: rgb(247, 0, 255);
$black: rgb(0, 0, 0);
$white: white;
$red: red;

%color__item {
    width: 25px;
    height: 25px;
    margin: 1px;
    display: block;
    border-radius: 3px;
    margin: 0px 3px 0px 3px;


}

.color__item__purple {
    background-color: $purple;
    border: 2px solid rgb(90, 0, 90);
    @extend %color__item
}

.color__item__red {
    background-color: $red;
    border: 2px solid rgb(179, 0, 0);
    @extend %color__item
}

.color__item__blue {
    background-color: $blue;
    border: 2px solid rgb(23, 0, 128);
    @extend %color__item
}


.color__item__green {
    background-color: $green;
    border: 2px solid rgb(0, 143, 33);
    @extend %color__item
}

.color__item__black {
    background-color: $black;
    border: 2px solid rgb(25, 25, 25);
    @extend %color__item
}

.pictures_conatiner {

    .device__image__conatiner {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 500px;
        height: 500px;

        .device__image {
            width: auto;
            max-height: 100%;
            border: 40px red solid;
        }
    }

}

@media (min-width: 1700px) {
    .main_wrap {
        width: 1700px;
        margin: 0% auto;
    }
}

@media (max-width: 800px) {
    .main_wrap {
        .wrap {
            flex-direction: column;
            align-items: center;

            .info__panel {
                width: 100%;
                padding: 0px;
            }

            .subpages_list_container {
                width: 100%;
            }
        }
    }
}