
    // .range__container {
    //     position: relative;
    //     width: 150px;
    //     height: 100px;
    //     background-color: rgb(9, 9, 9);
    //     display: flex;
    
    
    //     .range__line {
    //         height: 2px;
    //         margin-top: 40px;
    //         width: 150px;
    //         background-color: rgb(168, 168, 168);
    
    //         .range__fild {
    //             width: 0%;
    //             height: 2px;
    //             background-color: rgb(160, 27, 255);
    //         }
    
    //     }
    
    //     .slider {
    
    //         position: absolute;
    //         cursor: pointer;
    //         display: inline-block;
    //         top: 33px;
    //         left: 0;
    //         right: 0;
    //         bottom: 0;
    //         width: 20px;
    //         height: 20px;
    //         background-color: rgb(255, 255, 255);
    //         border-radius: 50%;
    //         border: 1px solid rgb(72, 72, 72);
    //         z-index: 20;
    //     }
    
    
    
    // }

    $range-height: 80px;

    .container {
        width: 100%;
        height:$range-height + 10px ;
        background-color: rgb(255, 255, 255);
        display: flex;
        justify-content: start;
        align-items: start;
    }
    .range__container {
        position: relative;
        width: 130px;
        height: $range-height;
        background-color: rgb(255, 255, 255);
        display: flex;
    
    
        .range__line {
            height: 2px;
            margin-top: 10px;
            padding-left: 0px;
            padding-right: 0px;
            width: 130px;
            background-color: rgb(156, 156, 156);
            display: block;
        
    
            .range__fild {
                display: block;
                width: 100%;
                height: 2px;
                background-color: rgb(160, 27, 255);
            }
    
        }
    
        .slider {
    
            position: absolute;
            cursor: pointer;
            display: inline-block;
            top: 3px;
            left: 0;
            right: 0;
            bottom: 0;
            width: 15px;
            height: 15px;
            background-color: rgb(255, 255, 255);
            border-radius: 50%;
            border: 1px solid rgb(72, 72, 72);
            z-index: 20;
        }
       

        .second__slider {
            position: absolute;
            cursor: pointer;
            display: inline-block;
            top: 3px;
            left: 0;
            right: 0;
            bottom: 0;
            width: 15px;
            height: 15px;
            background-color: rgb(255, 255, 255);
            border-radius: 50%;
            border: 1px solid rgb(72, 72, 72);
            z-index: 20;
        }
    
    
    
    }

