.horizontal_basket {
    width: 97%;
    height: 80px;
    margin-top: 20px;
    background-color: aliceblue;
    display: flex;
    padding: 5px 2px 2px 10px;
    border: 1px solid rgb(218, 218, 218);
    border-radius: 5px;

    .text_container {
        width: 22.33333%;
        background-color: rgb(255, 255, 255);
        display: flex;
        border-radius: 5px;
        flex-direction: column;
        justify-content: start;
        padding: 5px 5px 0px 15px;

        
        h2 {
            font-size: 1.1rem;
            font-weight: 600;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            color: black;
            font-family:   'Nanum Gothic', sans-serif;;
            
        }

        p {
            font-size: 1rem;
            font-family:   'Nanum Gothic', sans-serif;;
            color: rgb(162, 162, 162); 
        }
    }

    .photo_container {

        width: 44.33333%;
        height: 100%;
        display: flex;
        flex-direction: row;
        overflow: hidden;

        .device_photo_container {
           width: 700px;
           height: 100%;
           background-color: rgb(177, 167, 167);
           overflow: hidden;

           img{
             max-height: 70%;
             width:auto ;
           }

        }

    }

    .link_container {
        background-color: rgb(255, 255, 255);
        width: 33.33333%;
        display: flex;
        justify-content: center;
        justify-content: space-evenly;
        border-radius: 5px;
        align-items: center;
        
        button {
            width: 40%;
            background-color: #009dff;
            border-radius: 5px;
            padding: 10px 5px  10px 5px;
            color: white;
            &:hover {
                background-color: #47b8ff;
                transition: all ease 500ms;
            }
        }

        a {
            
            color: rgb(110, 173, 255);
            cursor: pointer;
            &:hover{
                color: rgb(255, 63, 63);
                transition: all ease 500ms;
            }
        }

    }

}


@media  ( max-width: 1100px )  {
    .horizontal_basket {
     
    }
}