.container{
    width: 230px;
    padding: 10px;
    background-color: rgb(250, 250, 250);
    height: 92vh;
    display: block;
  
    
}

@media (max-width: 880px) {

    .container{
        display: none;
       
    }
}   