.menu {
    display: block;
    background-color: rgba(0, 0, 0, 0.283);
    width: 100%;
    position: absolute;
    height: 100%;
    transform: translateX(-120%);
    transition: all 0.4s;
}

.menu_active {
    transform: translateX(0%);
    display: block;
    background-color: rgba(0, 0, 0, 0.283);
    width: 100%;
    position: absolute;
    height: 100%;
    transition: all 0.4s;
   
    .content {
        width: 30%;
        position: relative;
        height: 100%;
        background-color: white;
        .close__button {
            width: 40px;
            height: 40px;
            right: 0px;
            position: absolute;
            color: rgb(124, 73, 172);
            background-color: rgb(255, 255, 255);
        }
    }
}

@media (max-width: 640px) {
    .menu_active { 
        .content {
            width: 50%;
        }
    }
}
@media (min-width: 900px) {
    .menu_active { 
      display: none;
    }
}
