.container{
    width: 300px;
    background-color: rgb(255, 255, 255);
    height: auto;
    display: block;
    padding-left: 20px;
    
}

@media (max-width: 880px) {

    .container{
        display: none;
       
    }
}   