.menu {
    display: block;
    background-color: rgba(0, 0, 0, 0.283);
    width: 100%;
    position: absolute;
    z-index: 100;
    height: 100%;
    transform: translateX(-120%);
    transition: all 0.4s;

     .content {
        width: 35%;
        position: relative;
        z-index: 100;
        height: 100%;
        background-color: white;
        .close__button {
            width: 40px;
            height: 40px;
            right: 0px;
            position: absolute;
            color: rgb(124, 73, 172);
            background-color: rgb(255, 255, 255);
        }
    }

}

.menu_active {
    transform: translateX(0%);
    display: block;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.283);
    width: 100%;
    position: absolute;
    height: 100%;
    transition: all 0.4s;
   
    .content {
        width: max-content;
        padding: 5px 5px 0px 5px;
        position: relative;
        z-index: 100;
        height: 100%;
        background-color: white;
        .close__button {
            width: 40px;
            height: 40px;
            z-index: 100;
            right: 0px;
            position: absolute;
            color: rgb(124, 73, 172);
            background-color: rgb(255, 255, 255);
        }
    }
}


.range__slider__conatiner {
    display: none;
}

.range__mobile__slider__conatiner {
    display: none;
}

/* if device has a touch screen */
@media (any-pointer: coarse) {

    .range__mobile__slider__conatiner {
        display: block;
        transition: all 0.4s;
    
    }
}

/* if device has no touch screen */
@media (any-pointer: fine) {

  
    .range__slider__conatiner {
        display: block;
        transition: all 0.4s;
    
    }

}

@media (max-width: 640px) {
    .menu_active { 
        transition: all 0.4s;
       
    }
}
@media (min-width: 900px) {
    .menu_active { 
        transition: all 0.4s;
      display: none;
      
    }
}
