.container{
    width: 300px;
    background-color: rgb(255, 255, 255);
    height: 93vh;
    display: block;
   
    
}

@media (max-width: 880px) {

    .container{
        display: none;
       
    }
}   