$navbar-hgt: 50px;

.menu__container {
    width: 100%;
    background-color: rgb(27, 24, 24);
    display: flex;
    justify-content: center;
    height: auto;

    .top_navbar {
        width: 100%;
        background-color: rgb(27, 24, 24);
        height: 7vh;
        display: flex;
        align-items: center;
        position: relative;

        .search__container {
            width: 70%;
            height: 100%;
            display: flex;
            align-items: center;
            margin: 0% auto;


            .search_input {
                display: flex;
                border: 1px solid rgb(59, 59, 59);
                border-top-left-radius: 15px;
                border-bottom-left-radius: 15px;
                width: 75%;
                height: 40px;
                padding: 10px;

                &:focus {
                    border: 1px solid #747474;
                }

                color: white;

            }

            .find__button {
                color: white;
                width: auto;
                height: 40px;
                padding: 7px 30px 7px 30px;
                background-color: #0cc53a;
                border-top-right-radius: 15px;
                border-bottom-right-radius: 15px;

            }

            @media (max-width: 600px) {

                .find__button {
                    display: none;
                }

                .search_input {

                    width: 90%;
                    border: 1px solid #00ff40;
                }
            }

        }

        .varenya_s_pomidorammi {
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            width: $navbar-hgt;
            height: $navbar-hgt;
            border-radius: 10px;
            position: relative;
            left: 1vw;

            &:hover {
                background-color: #3d3d3dae;
            }

            span {
                width: 25px;
                display: block;
                height: 2px;
                margin: 3px;
                background-color: rgb(255, 255, 255);

            }
        }

        .backet__button {
            padding: 20px;
            color: white;
            font-size: 1.1rem;
            position: absolute;
            right: 5px;
            color: #1fe326;
            display: block;
        }
    }
}


@media (min-width: 1700px) {
    .menu__container {
        height: 70px;

        .top_navbar {
            height: 70px;
            width: 1800px;
        }
    }
}