@import "colors";
$navbar-hgt: 60px;

.menu__container {
    width: 100%;
    background-color: $dark_grey;
    display: flex;
    justify-content: center;
    position: fixed;
    z-index: 100;
    height: auto;

    .top_navbar {
        width: 100%;
        background-color: $dark_grey;
        height: $navbar-hgt;
        display: flex;
        align-items: center;
        position: relative;

        .search__container {
            width: 70%;
            height: 45px;
            display: flex;
            align-items: center;
            margin: 0% auto;

            .find__button {
                color: white;
                display: flex;
                align-items: center;
                width: auto;
                height: 90%;
                padding: 7px 30px 7px 30px;
                border: 3px solid $main_color;
                background-color: $main_color;
                border-top-right-radius: 15px;
                border-bottom-right-radius: 15px;
            }

            .search_input {
                display: flex;
                align-items: center;
                border: 1px solid rgb(59, 59, 59);
                border-top-left-radius: 15px;
                border-bottom-left-radius: 15px;
                width: 75%;
                height: 90%;
                padding: 10px;

                &:focus {
                    border: 1px solid #747474;
                }

                color: white;




            }



            @media (max-width: 600px) {

                .find__button {
                    display: none;
                }

                .search_input {

                    width: 90%;
                    border-radius: 15px;
                    border: 1px solid #313131;
                }
            }

        }

        .varenya_s_pomidorammi {
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            width: $navbar-hgt;
            height: $navbar-hgt;
            border-radius: 10px;
            position: relative;
            left: 1vw;

            &:hover {
                background-color: #3d3d3dae;
            }

            span {
                width: 25px;
                display: block;
                height: 2px;
                margin: 3px;
                background-color: rgb(255, 255, 255);

            }
        }

        .backet__button {
            padding: 10px;
            color: white;
            position: relative;
            right: 5px;

            display: flex;
            justify-content: center;
            align-self: center;


            span {

                text-align: center;
                font-size: 34px;

                p {

                    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                    color: #ffffff;
                    font-size: 13px;
                    width: 16px;
                    height: 16px;
                    position: absolute;
                    text-align: center;
                    top: 9px;
                    left: 3px;
                    border-radius: 50%;
                    background-color: $main_color;
                }

            }

        }
    }
}


@media (min-width: 1700px) {
    .menu__container {
        height: 70px;


        .top_navbar {
            height: 70px;
            width: 1700px;

            .varenya_s_pomidorammi {

                display: flex;
                justify-content: center;
                flex-direction: column;
                align-items: center;
                width: $navbar-hgt - 20;
                height: $navbar-hgt - 20;
                border-radius: 5px;
                position: relative;
                left: 1vw;

                &:hover {
                    background-color: #3d3d3dae;
                }

                span {
                    width: 25px;
                    display: block;
                    height: 2px;
                    margin: 3px;
                    background-color: rgb(255, 255, 255);

                }
            }

            .search__container {
                height: 50px;
            }
        }
    }
}