.range__container {
    position: relative;
    width: 150px;
    height: 100px;
    background-color: rgb(9, 9, 9);
    display: flex;


    .range__line {
        height: 2px;
        margin-top: 40px;
        width: 150px;
        background-color: rgb(168, 168, 168);

        .range__fild {
            width: 0%;
            height: 2px;
            background-color: rgb(160, 27, 255);
        }

    }

    .slider {

        position: absolute;
        cursor: pointer;
        display: inline-block;
        top: 33px;
        left: 0;
        right: 0;
        bottom: 0;
        width: 20px;
        height: 20px;
        background-color: rgb(255, 255, 255);
        border-radius: 50%;
        border: 1px solid rgb(72, 72, 72);
        z-index: 20;
    }



}