.wrap {
    width: 100%;
    display: flex;
    background-color: rgb(255, 255, 255);
    
    
    
}
.container {
    width: auto;
    display: flex;
    flex-direction: column;
}   
.devices__list__container {
   width: 80%;

}

.header {
    width: 100%;
    font-size: 30px;
    padding: 20px;
}
.device_item {
    width: 30px;
    margin: 3px;
    height: 30px;
    background-color: white;
    display: block;
    box-shadow: rgba(149, 157, 165, 0.152) 0px 8px 24px;
}










