.container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  height: 10%;
  border-bottom: 1px solid rgba(172, 172, 172, 0.289);
  background-color: rgb(255, 255, 255);
  padding: 5px;

  /* The container <div> - needed to position the dropdown content */
}

.filter__button {
  display: none;
}


.dropbtn {
  background-color: #1f1f1f;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  color: white;
  padding: 10px;
  font-size: 12px;
  padding: 10px 10px 10px 10px;
  border: none;
  cursor: pointer;
  width: 150px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown_content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  width: 150px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown_content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  cursor: pointer;
}

/* Change color of dropdown links on hover */
.dropdown_content a:hover {
  background-color: #f1f1f1
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown_content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #6f36e0;
}









@media (max-width: 880px) and (min-width: 440px) {

  .filter__button {
    display: block;
  }

  .container {
    justify-content: center;
    width: 100%;
    height: auto;
    padding: 10px;
    justify-content: space-between;
    flex-direction: row;

  }



  .filter__button {
   
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 2px solid rgb(198, 198, 198);
    color: white;
    padding: 10px;
    font-size: 12px;
    padding: 10px 10px 10px 10px;
    color: rgb(61, 61, 61);
    cursor: pointer;
    font-size: 0.9rem;
    width: 100px;
    height: 30px;
  }
  .filter__button:hover {
    border: 2px solid rgb(143, 143, 143);
  }


  .dropbtn {
    width: 200px;
    height: 30px;
    text-align: center;
    font-size: 0.9rem;
  }
  .dropdown_content {
    width: 200px;
  }
}

@media (max-width: 440px) {
  .filter__button {
    display: block;
  }

  .container {
    justify-content: center;
    width: 100%;
    height: auto;
    padding: 10px;
    justify-content: space-around;
    flex-direction: row;

  }


  .filter__button {
   
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 2px solid rgb(198, 198, 198);
    color: white;
    padding: 10px;
    font-size: 12px;
    padding: 10px 10px 10px 10px;
    color: rgb(61, 61, 61);
    cursor: pointer;
    font-size: 0.9rem;
    width: 120px;
    height: 30px;
  }
  .filter__button:hover {
    border: 2px solid rgb(143, 143, 143);
  }



  .dropbtn {
    width: 160px;
    height: 30px;
  }
  .dropdown_content {
    width: 150px;
  }
}