.container{
    width: 15%;
    padding: 10px;
    background-color: rgb(250, 250, 250);
    height: 92vh;
    display: block;
    border-right: 1px solid rgba(128, 128, 128, 0.24);
    
}

@media (max-width: 880px) {

    .container{
        display: none;
       
    }
}   