@import '../../../styles/colors';

.main_wrap {
  position: relative;
  top: 70px;


  .header {
    width: 100%;
    font-size: 2rem;
    padding: 20px;
    display: flex;
    justify-content: space-between;

  }

  .wrap {
    width: 100%;
    display: flex;

    .filter_content {
      padding: 15px;

    }
    .serach_page_content {
      width: 100%;



      .pages_conatiner {
        width: 100%;
        height: 40px;
        margin-top: 140px;
        margin-bottom: 40px;
        padding: 1px;
        align-items: center;
        justify-content: center;
        background: rgb(255, 255, 255);
        display: flex;
        flex-direction: row;

        .page__button {
          padding: 5px 12px 5px 12px;
          color: rgb(123, 123, 123);
          border-radius: 5px;
          border: 1px solid rgb(111, 111, 111);
          align-items: center;
          text-align: center;
          margin: 2px;
        }

        .page__button_active {
          padding: 5px 12px 5px 12px;
          color: rgb(255, 255, 255);
          border-radius: 5px;
          background-color: $links_color;
          border: 1px solid $links_color;
          align-items: center;
          text-align: center;
          margin: 2px;
        }

        .page__button__next {

          width: auto;
          padding: 5px 12px 5px 12px;
          color: rgb(255, 255, 255);
          border-radius: 5px;
          background-color: $links_color;
          border: 1px solid $links_color;
          align-items: center;
          text-align: center;
          text-align: center;
          margin: 2px;
        }

      }

      .devices__list__container {
        flex-direction: row;
        flex-wrap: wrap;
        display: flex;
        padding: 10px;
        width: 100%;
  
      }


    }

  }
}

.loader_container {
  display: block;
  width: 100%;
}

@media (max-width: 880px) {

  .container {
    display: none;
  }

}


@media (min-width: 1700px) {

  .main_wrap {

    width: 1700px;
    margin: 0% auto;
  }

}